<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.WorkOrderRepository">

    <resultMap id="workOrderResultMap" type="domain.WorkOrder">
        <id property="id" column="id" javaType="long" jdbcType="BIGINT"/>
        <result property="executor" column="executor"/>
        <result property="description" column="description"/>
        <result property="orderLevel" column="order_level" javaType="byte" jdbcType="TINYINT"/>
        <result property="createDate" column="create_date" javaType="java.sql.Date" jdbcType="DATE"/>
        <association property="project" column="project_id" javaType="domain.Project">
            <id property="id" column="id" javaType="long" jdbcType="BIGINT"/>
            <result property="projectName" column="project_name"/>
        </association>
    </resultMap>

    <select id="listWorkOrders" resultMap="workOrderResultMap">
        SELECT * FROM workorder w INNER JOIN project p
        ON w.project_id = p.id;
    </select>

    <insert id="saveWorkOrder" parameterType="domain.WorkOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO workorder(project_id, executor, description, order_level, create_date)
        VALUES(#{project.id}, #{executor}, #{description}, #{orderLevel}, now())
    </insert>
</mapper>





